# Escludo da GitHub i file della root principale (quella estarna alle cartelle "backend-quizzettone" e "frontend-quizzettone") che non mi servono
AGENTS.md
implementation_plan.md
opencode.json
sessione-IA/
plans/

# Escludo tutti i file di docker e i vari readme e guide ad esso riferito
.dockerignore
docker-compose.yml
deploy/
analisi/